
ul {
	margin: 0;
	padding: 0;
}

body {
	padding: 50px;
	background: #e7f3ed;
	color: #3d3d3d;
}

.dropdown {
	position: relative;
	width: 108px;
	min-height: 28px;
	outline: none;
}
.dropdown ul {
	border: 1px solid #d2d2d2;
	list-style-type: none;
}
.dropdown li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid #d2d2d2;
}
.dropdown label {
	display: block;
	padding: 5px;
	background: #fff;
	opacity: 0;
	cursor: pointer;
}
.dropdown input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
	cursor: pointer; }
.dropdown input:checked ~ label {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: 2;
	background: #fff;}
.dropdown:focus ul {
	position: relative;
	border: 1px solid #d2d2dd2;
}
.dropdown:focus li {
	position: relative;
	border: none;
}
.dropdown:focus label {
	opacity: 1;}
.dropdown:focus input:checked ~ label {
	position: static;
	background: #af7d35;
	color: #fff;
}
.dropdown:before {
	content: "";
	border-style: solid;
	border-width: 5px 0 5px 8.7px;
	border-color: transparent transparent transparent #b07e2d;
	height: 0;
	position: absolute;
	right: 0.75em;
	top: 50%;
	margin-top: -4px;
	width: 0;
	z-index: 3;
	-webkit-transform: rotate(90deg); }
.dropdown:focus:before {
	display: none;
}
